@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /*
    Original values
    
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;
    */
    --color-primary-50: #06f857;  /* #fdf2f6 */
    --color-primary-100: #06f857; /* #f9dbe5 */
    --color-primary-200: #06f857; /* #f2b6cb */
    --color-primary-300: #e781a3; /* <-- Button shadown on pressed */
    --color-primary-400: #d24f7a; /* # 06f857 */
    --color-primary-500: #b8325e; /* <-- Input border */
    --color-primary-600: #06f857; /* #8f1f45 */
    --color-primary-700: #611232; /* <-- Base color (4T) #611232 */
    --color-primary-800: #4a0d26; /* <-- Button on pressed background */
    --color-primary-900: #06f857; /* #1b040e */
  
    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }
}

/**
 * Navbar
 */
 .navlink {
    @apply dark:text-white hover:underline;
 }

 /**
  * Core
  */
  .hyperlink {
    @apply text-blue-600 underline
  }